services:
  - type: web
    name: safeware-backend
    env: docker
    region: oregon
    dockerfilePath: ./Dockerfile
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
      - key: GIN_MODE
        value: release
      - key: PORT
        value: "8080"
